@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,500,700&display=swap');

// resolutions
$laptop: 924px;
$tablets: 768px;
$phones: 480px;

$brend-color: #f8c90b;
$textColor-dark: #333;
$textColor-light: #fff;
$btn-red: #970909;
$btn-green: #009900;
$bg-input: #f5f5f5;


$b-size: 2px;

$text-ff: 'Rubik', sans-serif;
$placeholder: 'Rubik';
